<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412634432030-tlog1m1lgefniap3a4ir4u7h4214letj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412634432030-tlog1m1lgefniap3a4ir4u7h4214letj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>412634432030-tlr4j4n3737euu2knffjk40e114kuohs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZzSJI_-Z_K80nVbR54j0PdqX905Mjwf0</string>
	<key>GCM_SENDER_ID</key>
	<string>412634432030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techdot.waste</string>
	<key>PROJECT_ID</key>
	<string>mt-waste-management</string>
	<key>STORAGE_BUCKET</key>
	<string>mt-waste-management.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412634432030:ios:3d2aef19987eec18a0640f</string>
	<key>DATABASE_URL</key>
	<string>https://mt-waste-management-default-rtdb.firebaseio.com</string>
</dict>
</plist>